@model leavedays.Models.EditModel.EditRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fieldBlock">
    @using (Html.BeginForm("Create", "Request", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        @Html.DisplayFor(model => model.UserId);<br />
        @Html.HiddenFor(model => model.UserId);

        @Html.DisplayFor(model => model.CompanyId);<br />
        @Html.HiddenFor(model => model.CompanyId);

        @Html.DisplayFor(model => model.Status);<br />
        @Html.HiddenFor(model => model.Status);

        <input type="hidden" id="dateField" class="datepicker-here" data-multiple-dates="2" data-inline="true" data-multiple-dates-separator="-" name="VacationDates" />

        @Html.DisplayFor(model => model.RequestBase);<br />
        @Html.EditorFor(model => model.RequestBase);<br />

        <input type="submit" value="Create" />
    }
</div>
<script src="~/Scripts/datepicker.min.js"></script>