@model leavedays.Models.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<div class="fieldBlock">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "form" }))
    {
        <h1>Register</h1>
        <div id="licenses">
            @foreach (var license in Model.licenseList)
            {
                <div class="license" licensename="@license.Name">
                    <div class="licenseName">
                        @license.Name
                    </div>
                    @foreach (var module in license.Modules)
                    {
                        <div>
                            @module.Name
                        </div>
                    }
                    <div class="licensePrice">
                        @license.Price
                    </div>
                </div>
            }
        </div>
        <br />
            <h2>Create Company</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div>
                @Html.LabelFor(model => model.CompanyName)
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
            <div>
                @Html.LabelFor(model => model.CompanyUrl)
                @Html.EditorFor(model => model.CompanyUrl)
                @Html.ValidationMessageFor(model => model.CompanyUrl)
            </div>
            <h5>Company Customer Info</h5>
            <div>
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <br />
            <div>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br />
            <div>
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <br />
            <div>
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <br />

            <div id="checkboxes">
                <input type="checkbox" name="customer" value="customer" checked="checked" disabled="disabled" />
                <span>Customer</span>
                @foreach (var role in Model.Roles)
                {
                    <input type="checkbox" name="@role" value="@role" class="checkbox" />
                    <span>@role</span>
                    <br />
                }
            </div>
            @Html.HiddenFor(model => model.RolesLine, new { @id = "RolesLine" })
            @Html.HiddenFor(model => model.LicenseName, new { @id = "LicenseName" })
            <input type="submit" value="Create" id="submit" />
    }
</div>
<script>
    $(document).ready(function () {
        var licenseName = $('#LicenseName');
        var licenses = $(licenses);
        $(licenses).on('click', ".license", function () {
            $(licenseName).val($(this).attr("licensename"));
            $(licenses).find(".license.selected").removeClass("selected");
            $(this).addClass("selected");
        });

    });

</script>